.container-new-account {
  height: 100%;
  background: #F5F5FB;
  width: 100%;
  position: absolute;
}

/* login box */

.jumbo-new-account {
  margin: auto;
  margin-top: 80px;
  width: 515px;
  height: 740px;
  background: #FFFFFF;
  border: 3px solid #F2F2F2;
}

.container-logo {
  text-align: center;
  margin-top: 60px;
}

.title {
  font-style: normal;
  font-size: 22px;
  line-height: 31px;
  margin-top: 24px;
}

.sample-label {
  font-style: inherit;
  font-size: 16px;
  color: #696D8C;
  font-weight: 500;
  margin-top: 24px;
}

.sample-input {
  height: 44px;
  width: 375px;
  border-radius: 0;
}

.form-container {
  margin-left: 70px;
}

.validate-senha-bar {
  display: inline-block;
  width: 119.67px;
  height: 8px;
  background: #EAEAF4;
  border-radius: 10px;

}
