
  <div class="jumbo-new-account">
    <div class="container-logo">
      <img src='../assets/img/logo.svg'>
      <p class="title"> Crie sua conta </p>
    </div>

    <div class="form-container">

      <form novalidate name="NewAccountForm">
        <div class="form-group">
          <label for="name" class="sample-label">Nome completo</label>
          <input id="name" class="form-control sample-input">

          <label for="email" class="sample-label">E-mail</label>
          <input id="email" name="email" class="form-control sample-input" type="email">

          <label for="name" class="sample-label">Senha</label>

          <input class="form-control sample-input" id="password" name="password" [ngClass]="{inputValidOne : (!!OneCondition), inputValidTwo : (!!TwoCondition), inputValidThree : (!!ThreeCondition)}"
            [(ngModel)]="password" (ngModelChange)="validatesenha($event)">


          <div class="validate-senha-bar" [ngClass]="{'class-validation-one' : (!!OneCondition), 'class-validation-two' : (!!TwoCondition), 'class-validation-three' : (!!ThreeCondition)}"></div>
          <div class="validate-senha-bar" [ngClass]="{'class-validation-two' : (!!TwoCondition), 'class-validation-three' : (!!ThreeCondition)}"
            style="margin: 8px 4px 0px 4px;"></div>
          <div class="validate-senha-bar" [ngClass]="{'class-validation-three' : (!!ThreeCondition)}"></div>

          <div style="margin-top: 8px">
            <div style="display: flex;">
              <span class="validate-senha-elipse" [ngClass]="{'class-validation-one' : touched, 'class-validation-three' : validateLength}"></span>
              <span>Pelo menos 6 caracteres</span>
            </div>

            <div style="display: flex;">
              <span class="validate-senha-elipse" [ngClass]="{'class-validation-one' : touched, 'class-validation-three' : validateUppercase}"></span>
              <span>Pelo menos 1 letra maiúscula</span>
            </div>

            <div style="display: flex;">
              <span class="validate-senha-elipse" [ngClass]="{'class-validation-one' : touched, 'class-validation-three' : validateNumber}"></span>
              <span>Pelo menos um número</span>
            </div>

          </div>

          <label for="name" class="sample-label">Confirme sua senha</label>
          <input class="form-control sample-input">

          <button class="btn btn-new-account">Criar conta</button>
        </div>
      </form>

    </div>

  </div>
