.jumbo-new-account {
  margin: auto;
  margin-top: 80px;
  width: 515px;
  background: #FFFFFF;
  border: 3px solid #F2F2F2;
}

.container-logo {
  text-align: center;
  margin-top: 60px;
}

.title {
  font-style: normal;
  font-size: 22px;
  line-height: 31px;
  margin-top: 24px;
  color: #312F4F;
}

.sample-label {
  margin-top: 24px;
  font-weight: 500;
}

.sample-input {
  height: 44px;
  width: 375px;
  border-radius: 0;
}

.form-container {
  margin-left: 70px;
}

.validate-senha-bar {
  display: inline-block;
  width: 119.67px;
  height: 8px;
  background: #EAEAF4;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 8px;
}

.validate-senha-elipse {
  width: 10px;
  height: 10px;
  background: #EAEAF4;
  border-radius: 50%;
  margin: 6px 8px 10px 0px;
  float: left;
}

.class-validation-one {
  background-color: #F79682;
}

.class-validation-two {
  background-color: #F7BC1C;
}

.class-validation-three {
  background-color: #1FE6A8;
}

.input-valid-one {
  border: 1px solid #F79682;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.input-valid-two {
  border: 1px solid #F7BC1C;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.input-valid-three {
  border: 1px solid #1FE6A8;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.btn-new-account {
  border-radius: 0px;
  height: 52px;
  width: 376px;
  background-color: #17D499;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 48px;
}
