<div class="container-new-account">
  <div class="jumbo-new-account">
    <div class="container-logo">
      <img src='../assets/img/logo.svg'>
      <p class="title"> Crie sua conta </p>
    </div>

    <div class="form-container">

      <form class="form-group" name="new-acount">
        <label for="name" class="sample-label">Nome completo</label>
        <input id="name" class="form-control sample-input">

        <label for="name" class="sample-label">E-mail</label>
        <input class="form-control sample-input">

        <label for="name" class="sample-label">Senha</label>
        <input class="form-control sample-input">

      <div class="validate-senha-bar"></div>
      <div class="validate-senha-bar"></div>
      <div class="validate-senha-bar"></div>
      </form>

    </div>

  </div>
</div>